<%- include('../_partial/_header'); -%>

<div class="row">
    <div class="col-md-6">
        <h1>New Entery</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <form action="/posts/add" method="POST">
            <div class="form-group">
                <label for="inputTitle">Title</label>
                <input type="text" class="form-control" placeholder="Title" id="inputTitle" name="title"value="">
            </div>

            <div class="form-group">
                <label for="inputContent">Content</label>
                <textarea class="form-control" rows="3" id="inputContent" placeholder="Content" name="content"></textarea>
            </div>
            <input type="hidden" id="name" name="name" value="<%= currentUser.username %>">
            <div class="form-group">
                <button type="submit" class="btn btn-default" href="#" role="button">Create</button>
            </div>
    </div>

    </form>
</div>


<%- include ('../_partial/_footer'); -%>