<%- include('../_partial/_header'); -%>

<h1>Mini diary</h1>
    Remember writing diaries? well now is the time to restart your diary with an infinite amount of pages!</
<%- include ('../_partial/_footer'); -%>